<!DOCTYPE html>
<html data-ng-app="ListesApp">
  <head>
    <meta charset="UTF-8">
    <title>Exo1 TD2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body data-ng-controller="ListesController as Ctrl">
    <div class="container">
      <form id="services" >
        <h1>Sélectionnez vos produits</h1>
        <div>Produits disponibles</div>
        <div class="row">
          <select ng-options="liste.title for liste in Ctrl.dispoItems" ng-model="selectedDispoItems" multiple class="form-control" ng-dblclick="Ctrl.selectItem()"></select>
          <button class = "glyphicon glyphicon-step-forward " ng-click="Ctrl.addToIncluded()"></button>
          <button class="glyphicon glyphicon-fast-forward " ng-click="Ctrl.addAllToIncluded()"></button>
          <button class="glyphicon glyphicon-fast-backward" ng-click="Ctrl.removeFromIncluded()"></button>
          <button class="glyphicon glyphicon-step-backward" ng-click="Ctrl.RemoveAllFromIncluded()"></button>
          <select ng-options="liste2.title for list2 in Ctrl.includedItems" ng-model="selected" multiple class="form-control"></select>
        </div>
        </select>
      </form>
    </div>

  </body >

</html>

<!--
<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>
$scope.selected = $scope.items[0];
<div ng-app="myApp" ng-controller="myCtrl">
<select ng-model="selectedName" ng-options="item for item in names"></select>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["Emil", "Tobias", "Linus"];
});
</script>-->