<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Exo1 TD2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body data-ng-app="ListesApp">
  <div data-ng-controller="ListesController as Ctrl">
    <div class="container" ng-show="Ctrl.step==1">
        <h1>Sélectionnez vos produits</h1>
        <div>Produits disponibles</div>
        <div class="row">
          <select ng-options="liste.title for liste in Ctrl.dispoItems"
                  ng-model="Ctrl.selectedDispoItems"
                  ng-dblclick="Ctrl.selectItem()"
                  multiple class="form-control">
          </select>

          <button name="ajout" class ="glyphicon glyphicon-step-forward " ng-click="Ctrl.addToIncluded()" ng-disabled="Ctrl.selectedDispoItems.length<1"></button>
          <button name="ajoutTous" class="glyphicon glyphicon-fast-forward " ng-click="Ctrl.addAllToIncluded()" ng-disabled="Ctrl.dispoItems.length<1"></button><br>
          <button name="retirer" class="glyphicon glyphicon-step-backward" ng-click="Ctrl.removeFromIncluded()" ng-disabled="Ctrl.selectedIncludedItems.length<1"></button>
          <button name="retirerTous" class="glyphicon glyphicon-fast-backward" ng-click="Ctrl.RemoveAllFromIncluded()" ng-disabled="Ctrl.includedItems.length<1"></button>

          <div>Produits à inclure</div>
          <select ng-options="listeD.title for listD in Ctrl.includedItems"
                  ng-model="Ctrl.selectedIncludedItems"
                  ng-dblClick="Ctrl.deselectItem()"
                  multiple class="form-control">
          </select>
        </div>
        </select>

        <ng-pluralize count="Ctrl.includedItems.length"
                      when="{0:'Aucun produit à inclure',
							1:'1 produit inclus',
							'other':'{} produits inclus'}">
        </ng-pluralize>
      </form>
    </div>
  </div>
  </body >

</html>